/resultados-2/fileAccesoAleatorio/target/
/resultados-2/fileDOMXml/target/
/resultados-2/fileDOMXmlBinary/target/
/resultados-2/fileXMLConversor/target/
/resultados-base-datos/proyectos-inicio/proyecto-conexion-oracle/target/
/resultados-base-datos/proyectos-inicio/bbddOracle/target/
/examen-ud1/target/
/resultados-base-datos/proyectoOracleCompleto/target/
/resultados-persistencia/proyectoPersistence/target/
/resultados-persistencia/proyectoJPA/target/

resultados-persistencia/proyectoJPAv2/
/resultados-4/objectdbProyecto/target/
/resultados-4/proyectoJPA/target/
/resultados-5/proyecto-existdb/target/
/resultados-5/proyecto-preexamen/target/
